<!-- templates/chat.html -->
{% extends "group2.html" %}
{% load static %}
{% load tz %}
{% block site_name %}Chat{% endblock %}
{% block extra_head %}
    <title>Chat</title>
    <link rel="stylesheet" href="{% static 'g2/css/chat.css' %}">
{% endblock %}
{% block content %}

  <main class="main-body">
    <div class="chat-container">
      <div class="chat-header">
        <div class="chat-header-username"><a href="/group2/user/{{other_username}}/">{{other_username }}</a></div>
        <button class="block-button" id="block-button">Block</button>
      </div>
      <ul id="messages">
      </ul>
      <form id="chat-form">
        <input id="chat-input" type="text" placeholder="Type a message…" autocomplete="off" required />
        <button type="submit">Send</button>
      </form>
    </div>
  </main>

  <script>
    const otherUsername = "{{ other_username }}";
    const currentUsername = "{{ user.username }}";
    const wsScheme = window.location.protocol === "https:" ? "wss" : "ws";
    const chatSocket = new WebSocket(
      wsScheme + '://' + window.location.host +
      'ws/g2_chat/' + otherUsername + '/'
    );

    let chatIsBlocked = false;

    // Helper function to format dates
    function formatMessageDate(timestamp) {
      const date = new Date(timestamp);
      const today = new Date();
      
      if (date.toDateString() === today.toDateString()) {
        return 'Today';
      } else {
        return date.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' });
      }
    }

    // Helper function to format time
    function formatTime(timestamp) {
      return new Date(timestamp).toLocaleTimeString('en-US', { 
        hour: 'numeric', 
        minute: '2-digit', 
        hour12: true 
      });
    }

  </script>
  <script src="{% static 'g2/js/chat.js' %}"></script>
{% endblock %}