
{% extends "groups/groups_base.html" %}

{% block title %}Group 3 Dashboard{% endblock %}

{% block content %}
  <h2>Welcome to Group 3</h2>
  <p>This page shows your microservice status.</p>

  <div style="margin-top: 20px;">
    <a href="{% url 'group3:teacher_landing' %}">
      <button style="padding: 10px 20px; font-size: 16px;">Teacher</button>
    </a>

    <a href="{% url 'group3:student_landing' %}">
      <button style="padding: 10px 20px; font-size: 16px;">Student</button>
    </a>
  </div>
{% endblock %}