{% extends "group2.html" %}
{% load static %}
{% load tz %}
{% block site_name %}Search{% endblock %}
{% block extra_head %}

    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Search for Partners</title>
    <link rel="stylesheet" href="{% static 'g2/css/search.css' %}" />
{% endblock %}
{% block content %}

    <main>
        <div class="search-container">
          {% if match_users %}
            <table>
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Bio</th>
                  <th>Goals</th>
                  <!-- <th>Action</th> -->
                </tr>
              </thead>
              <tbody>
                {% for user in match_users %}
                  <tr class="match-user">
                    <td class="match-username"><a href="/group2/user/{{user.username}}/">{{ user.username }}</a></td>
                    <td class="match-bio">{{ user.bio }}</td>
                    <td class="match-goals">{{ user.goals }}</td>
                    <td>
                      <a href="/group2/chat/{{user.username}}/"><button class="send-request" onclick="sendReq('{{ user.username }}')">Start Chat</button></a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <div class="no-results">
              <p>No partner found for you</p>
            </div>
          {% endif %}
        </div>
    </main>

    <script>
        function sendReq(partner_username){
            return function (){
                fetch('/group2/search/', {
                method: 'POST',
                body: partner_username,
                })
            }
        }
    </script>
{% endblock %}