<!DOCTYPE html>
{% load static %}
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه خانه</title>
    <link rel="stylesheet" href="{% static 'base/style.css' %}">
</head>
<body>
    <div class="welcome-container">
        <h1>به سامانه میکروسرویس ها خوش آمدید</h1>
        <div class="button-container">
            {% for group in groups %}
                <a href="{% url group.url %}" class="button">ورود به گروه {{ group.id }}</a>
            {% endfor %}
        </div>
    </div>
</body>
</html>
